@import './mixins/grid';

$grid-columns: 20;
$grid-gutter-width: 30px;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$container-xs: 100%;
$container-sm: resolve(720px + $grid-gutter-width);
$container-md: resolve(940px + $grid-gutter-width);
$container-lg: resolve(1140px + $grid-gutter-width);

.container {
  @include make-container(static);
}

.containerFluid {
  @include make-container();
}

.row {
  @include make-row();
}

.xs {
  @include alignment();

  @for $i from 1 to 20 {
    &-$i {
      @include make-column(xs, $i);
    }

    &-offset-$i {
      @include make-offset(xs, $i);
    }
  }
}

.sm {
  @include alignment();

  @for $i from 1 to 20 {
    &-$i {
      @include make-column(sm, $i);
    }

    &-offset-$i {
      @include make-offset(sm, $i);
    }
  }
}

.md {
  @include alignment();

  @for $i from 1 to 20 {
    &-$i {
      @include make-column(md, $i);
    }

    &-offset-$i {
      @include make-offset(md, $i);
    }
  }
}

.lg {
  @include alignment();

  @for $i from 1 to 20 {
    &-$i {
      @include make-column(lg, $i);
    }

    &-offset-$i {
      @include make-offset(lg, $i);
    }
  }
}
